smartmesh.drmacedo.tech {
    handle /api/* {
        reverse_proxy localhost:3000
    }

    handle /webrtc/* {
        uri strip_prefix /webrtc
        reverse_proxy localhost:8889
    }

    handle {
        root * /opt/web-rtc-gateway/web-app/frontend/dist
        try_files {path} /index.html
        file_server
    }
}
